.breakdown-main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.binders-and-envelopes {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  margin-top: 5rem;
  overflow: scroll;
}
#envelope-amounts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.breakdown-tobinder-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}
.breakdown-cash-request {
  width: 15%;
}
#breakdown-links {
  background-color: #006d77;
  color: #fff;
  font-size: 18px;
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
#breakdown-links:hover {
  background-color: white;
  border: 1px solid #006d77;
  color: #006d77;
  transition: all 0.3s ease-out;
}
